
<div class="card message-card">
<%= form_with model: @post, local: true do |form| %>
<%= form.text_area :message, placeholder: "Message" %><br><br>
<%= form.file_field :images, multiple: true %><br>
<%= form.submit "Submit" %>
<% end %>
</div>
